.App {
  text-align: center;
  padding: 20px;
}

.offices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.office {
  border: 1px solid black;
  width: 300px;
  border-radius: 10px;
}