.App {
  padding: 5%;
}

.components {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50vh;
}

.column {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

ul {
  padding: 0px;
}

.col {
  border-right: 4px solid green;
}